body {
  background: #abc;
  /*  width: 100%;
  height: 100%; */
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: white;
  margin-top: 1rem;
  padding: 1rem;
}

.draggable {
  background-color: lightcoral;
  margin: 1rem;
  padding: 1rem;
}

.dragging {
  opacity: 0.5;
}

.dragover {
  background-color: aquamarine;
}
